/* Colours used.
    black: #000;
    light-grey: #DCDCDC;
    dark-grey: #5c5c5c;
    red: #ff0000;
    red2: #FA8072
    yellow: #FCEC2C;
    gradient-red: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(255,0,0,1) 100%);
*/
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');


body {
<<<<<<< HEAD
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pokeball-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #000 20%, #fff 20%, #fff 80%, #f00 85%);
  position: fixed;
  background-repeat: repeat;
  background-position: center;
  z-index: -1;
  overflow: hidden;
  overflow-y: scroll;
}

.h1search {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
    padding-right: 2rem;
    color: #ffff00;
    text-shadow: 2px 2px 2px #000;
}

.pokedex {
    padding: 0 0;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  overflow: hidden;
}


ul {
    list-style-type: none;
}

.my-button {
    background-color: #fff; 
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    box-shadow: 1.5px 1.5px 1.5px #dbdbdb;
    padding: 5px;
    border-radius: 10px;
}

.search-bar {
  color: #ffff00;
  text-shadow: 2px 2px 2px #000;
  font-weight: 400;
  font-size: xx-large;
}

.search-box {

  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 1.5px #000;
  border: 1px solid #000;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    /* to show it above other content */
    z-index: 999; 
    
    /* to allow scrolling if the screen is not high enough*/
    overflow: auto; 
    
    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
    background-size: cover;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    border-radius: 40px;
  }
  
  .modal-close {
    float: right;
    border: 0;
    color: #000;
    text-decoration: underline;
    background: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }
  
  .modal h1 {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
  }
  .modal h1::first-letter {
    text-transform: uppercase;
  }
  
  .modal p {
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
  }

  #image-container {
    text-align: center;
  }
  

  @media (max-width: 600px) {
    .h1search {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .search-bar {
      margin-top: 10px;
      margin-left: 0;
    }
  }


  @media screen and (min-width: 400px) {
    .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    }
  }
  
  @media screen and (min-width: 750px) {
    .pokemon-list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    }
  }
  

/*@media all and (max-width: 900px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      margin-right: 10%;
      border-style: none;
    }
  }
  @media all and (max-width: 750px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      margin-right: 10px;
      border-style: none;
    }
  }
  
  @media all and (max-width: 400px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      border-style: none;
    }
  }
  
  @media all and (max-width: 400px) {
    .pokedex {
      text-align: center;
    }
  }
*/
=======
    background-color: #FA8072 ;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

header {
    background: #ff0000;
    opacity: 0.95;
}

.navbar-brand {
    font-size: 1.3em;
    color: #FCEC2C;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 2px #000;
}

.navbar-brand:hover {
    color: #FCEC2C;
}

.pokemon-search {
    border-radius: 0;
    background-color: #5c5c5c;
    border: 3px solid #000;
    color: #FCEC2C;
}

.pokemon-search::placeholder {
    color: #FCEC2C;
    opacity: 1;
    font-style: italic;
    font-family: 'Orbitron', sans-serif;
}

.pokemon-search:focus {
    background-color: #5c5c5c;
    border: 3px solid #000;
    color: #FCEC2C;
    font-family: 'Orbitron', sans-serif;
}

.pokemon-search:focus::placeholder {
    color: transparent;
}

main {
    padding-top: 80px;
}

#list-loader:not([hidden]) {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@keyframes fading {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.pokemon-list {
    padding: 3% 5%;
    list-style-type: none;
    /*----Start grid fallback----*/
    display: flex; 
    flex-wrap: wrap;
    /*----End grid fallback----*/
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    text-align: center;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
}

.list-group-item{
    display: inline-block;
    padding: 0;
    border: none;
    background-color: #FA8072;
}

.pokemon-button {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    border: 5px solid #000;
    padding: 20px;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color: #FCEC2C;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #000;
    color: #ff0000;
  }

 .pokemon-button:hover  {
    background-color: #ff0000;
    cursor: pointer;
    color: #FCEC2C;
  }

  .pokemon-button::first-letter{
    text-transform: uppercase;
}

.search-list {
    grid-template-columns: 2fr;
}

/*------RESPONSIVITIY FOR SMALLER SCREENS-------*/

@media all and (max-width: 1080px) {

    .pokemon-list{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .search-list {
        grid-template-columns: 1fr;
    }

}

@media all and (max-width: 576px) {

    body {
        font-size: 20px;
    }

    .pokemon-list{
        flex-direction: column;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .pokemon-button {
        padding: 20px;
    }

}

@media all and (max-width:418px) {

    main {
        padding-top: 120px;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    .pokemon-search::placeholder {
        text-align: center;
    }

}

/*------------- STYLE FOR THE MODAL-------------*/

.modal {
    display: none;
    background: transparent;
    color: #000;
}

.modal-content, .modal-header, .modal-body {
    background: transparent;
    border: none;
    padding: 0;
}

.close {
    font-size: 2em;
}
  
.close:hover {
    cursor: pointer;
}

.panel {
    background-color: #ff0000;
    box-shadow: 5px 5px 5px #000;
    border-radius: 0 40px 40px 0;
}

.panel, .light, .screen-frame, .window {
    border: 5px solid #000;

}

/*---Image and data ----*/

.image-panel, .data-panel {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-frame {
    padding: 5%;
    border-radius: 0 0 0 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    border-radius: 20px;
    padding: 20px;
    letter-spacing: 0.1em;
}
  
.image-section {
    background: #000;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #000;
}
  
.pokemon-image{
    width: 60%;
}

/*---Name, type, abilities ----*/

.name-section{
    background-color: #FCEC2C;
    text-transform: capitalize;
    gap: 20px;
    margin-bottom: 20px;
    border: 5px solid #000;
}

.name-section h2{
    font-size: 1.2em;
    line-height: 0.8em;
}

.small-section {
    gap: 20px;
    font-size: 0.6em;
}

.small-section h3{
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 10px;
}

.small-section ul{
    list-style: "> ";
    padding-left: inherit;
}

.height-section, .types-section, .abilities-section {
    background-color: #FCEC2C;
    border: 5px solid #000;
}

.types-section, .abilities-section {
    text-transform: capitalize;
}
>>>>>>> main
